<!DOCTYPE html>
<html>
<head>
	<title>NightLife Coordination App</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FCC NightLife Coordination App</a>
		    </div>
		    {{#if user.fullname}}
			    <ul class="nav navbar-nav navbar-right">
			      	<li><a href="/"><span class="glyphicon glyphicon-user"></span> {{user.fullname}}</a></li>
	      			<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			    </ul>
		    {{/if}}
		  </div>
		</nav>
		{{{body}}}
	</div>

</body>
</html>