<!DOCTYPE html>
<html>
<head>
	<title>NightLife Coordination App</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid jumbotron">
		{{{body}}}
	</div>

</body>
</html>